body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('tictactoe.jpeg'); /* Add your background image */
    background-size: cover;
    color: grey;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 5%;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.cell.taken {
    pointer-events: none;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}
